.message {
    display: flex;
    justify-content: flex-end;
    width: 1166px;
    margin-top: 34px;
    margin-bottom: 48px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    display: flex;
    align-self: flex-end;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-left: 15px;
}

.text {
    position: relative;
    padding: 7px 12px 8px 10px;
    height: 60px;
    background-color: #0066CC;
    border-radius: 5px;
}

.text::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -10px;
    bottom: 0;
    border: 0 solid transparent;
    border-right-width: 20px;
    border-left-width: 0;
    border-bottom: 20px solid #0066CC;
}

.name {
    display: flex;
    justify-content: flex-end;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}

.messageText {
    display: flex;
    justify-content: flex-end;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}

.time {
    position: relative;
    align-self: flex-end;
    right: 38px;
    bottom: -18px;
    width: 26px;
    height: 12px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0;
    text-align: left;
    color: #000000;
}