.radio {
    width: 20px;
    height: 20px;
    color: green;
    background-color: orange;
}

.radio::before {
    width: 10px;
    height: 10px;
    color: green;
    background-color: orange;
}


.radio:checked::before {
    width: 10px;
    height: 10px;
    color: green;
    background-color: orange;
}

.label {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.options {

}
