.App {
    --header_height: 60px;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
}

.hw {

}

.hwTitle {
    display: flex;
    margin-top: 70px;
    position: relative;
    width: 165px;
    height: 27px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
}

.hwTitle::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 36px;
    left: -120px;
    background-color: #D9D9D9;
    width: 100vw;
    height: 1px;
}