.App {
    --header_height: 60px;
    padding: 0 107px;
    width: 100%;
    overflow-x: hidden;
}

.hw {

}

.hwTitle {
    display: flex;
    margin-top: 70px;
    position: relative;
    width: 165px;
    height: 27px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
}

.hwTitle::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 32px;
    left: -107px;
    background-color: #D9D9D9;
    width: 120vw;
    height: 1px;
}